@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
.main {
  display: flex;
  flex-direction: column;
  /* background-color: rgba(217, 217, 217, 1); */
  font-family: "Poppins", sans-serif;
}
.sub_main {
  display: flex;
  justify-content: space-between;
}

.sub_main_main {
  display: flex;
  gap: 2rem;
}
.sub_main_main_info {
  display: flex;
  flex-direction: column;
  height: max-content;
  margin-top: 2rem;
  width: 25%;
  background-color: #fff;
  border: 1px solid rgba(232, 233, 235, 1);
  border-radius: 1.4rem;
}

.sub_main_main_info_info {
  margin: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
.sub_main_main_info_info_text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.company_info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 1.5rem;
}
.lead_info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 1.5rem;
}

.sales_manager_info {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.other_contact_info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.other_contact_info_info {
  display: flex;
  gap: 1rem;
}

.sub_main_tabs {
  width: 70%;
  height: 70vh;
  margin-top: 2rem;
  border: 1px solid rgba(232, 233, 235, 1);
  border-radius: 2.8rem;
}
